/* Colors Var */
:root {
    --hover: color-mix(in srgb, var(--main-color), white 20%);
    --main-color: #6610f2;
    --bg-main: #000;
    --text-color: #fff;
}

/* add animaton */
@keyframes scalehove {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
        z-index: 5;
    }
}

@keyframes fromscalehove {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}


/* add font */
@font-face {
    font-family: 'TurkFont';
    src: url('assets/fonts/arabic_font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TurkFontD';
    src: url('assets/fonts/dewan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TurkLogo';
    src: url('assets/fonts/logo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TurkFontE';
    src: url('assets/fonts/ZTOtez-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'TurkFont', sans-serif;
}

body {
    background-color: var(--bg-main);
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    unicode-bidi: bidi-override;
    direction: rtl;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 100px; */
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
}

.navtitle {
    font-family: TurkLogo;
    font-size: 35px;
    text-shadow: var(--hover) 0px 0px 1px, var(--hover) 0px 0px 5px, var(--hover) 0px 0px 15px;
}

.bg-body-tertiary {
    background-color: var(--main-color) !important;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: var(--main-color);
    width: 75%;
    max-width: 700px;
    max-height: 600px;
    margin: 20px 50px;
    padding: 0px 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 0.5s ease-in forwards;
}

legend {
    font-size: 1.5rem;
    padding: 0 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, var(--main-color), var(--hover));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    top: -40px;
    animation: fadeIn 1s ease-out forwards;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.whiteSpace {
    background-color: #fff;
    background-image: url(assets/images/home.jpg);
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    /* & img {
        width: 80vw;
    } */
}