/* Colors Var */
:root {
    --main-color: #501c10;
    --hover: color-mix(in srgb, var(--main-color), white 20%);
    --bg-main: #000;
    --text-color: #fff;
}

/* add animaton */
@keyframes scalehove {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
        z-index: 5;
    }
}

@keyframes fromscalehove {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}


/* add font */
@font-face {
    font-family: 'TurkFont';
    src: url('assets/fonts/arabic_font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TurkFontD';
    src: url('assets/fonts/dewan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TurkLogo';
    src: url('assets/fonts/logo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TurkFontE';
    src: url('assets/fonts/ZTOtez-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-family: 'TurkFont', sans-serif;
}

body {
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    /* unicode-bidi: bidi-override; */
    /* direction: rtl; */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));

    & .navtitle {
        font-family: TurkLogo;
        font-size: 35px;
        text-shadow: var(--hover) 0px 0px 1px, var(--hover) 0px 0px 5px, var(--hover) 0px 0px 15px;
    }

    & .bg-body-tertiary {
        background-image: linear-gradient(to bottom right, var(--main-color), var(--hover));
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 100%;
    max-width: 700px;
    margin: 20px 50px;
    padding: 10px 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeIn 0.5s ease-in forwards;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

legend {
    font-size: 1.5rem;
    padding: 0 10px;
    background-color: var(--main-color);
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, var(--main-color), var(--hover));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    top: -40px;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 0.5s;
}

.imgsidetop {
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
    background-image: url(assets/images/turk.png);
    background-size: cover;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    padding: 20px;

    & .avatar {
        width: 150px;
        height: 150px;
        margin: 20px;
        border-radius: 50%;
        border: 3px solid var(--text-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        float: left;
        position: relative;
        left: -20px;
    }

    & .name {
        font-size: 2.5rem;
        margin: 10px 0;
        font-weight: bold;
        text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        color: var(--text-color);
        font-family: 'TurkFontE', sans-serif;
    }

    & .lead {
        font-size: 0.7rem;
        margin-top: 10px;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        color: var(--text-color);
        font-family: 'TurkFontD', sans-serif;
        position: relative;
        /* top: -175px;
        left: 70px; */
    }
}

.divider {
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to right, var(--main-color), var(--hover));
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    & img {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    & .card-body {
        flex: 1;
        margin-left: 20px;
        text-align: left;

        & h4 {
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--text-color);
        }

        & p {
            margin: 5px 0;
            font-size: 0.9rem;
            
        color: var(--text-color);
        }
    }
}